﻿/*
	app.css
	Alkalmazás belső stílusai a szervezeti dizájnon túl
*/

.w20 {width:20px;}
.w40 {width:40px;}
.w80 {width:80px;}
.w120 {width:120px;}
.w160 {width:160px;}

/*
div#zone-branding {
	background-image: url(img/steam2b.png);
	background-position: 300px;
	background-repeat: no-repeat;
}
*/

div.branding-data h2 {
	color: #fff;
}
div#user-content {
	/*padding-top: 6px; nee */
	min-height:  150px;
}

.h150 {
	min-height:  150px;
}

.alignright {text-align: right;}
table.data th.alignright {text-align: right;}

ul.horizontal-menu li {
	border-left: 1px solid #9cb0c4;
}
ul.horizontal-menu li:first-child {
	border-left: none;
}

div.header-strip {
	height: 108px;
	width: 100%;
	background: url(/img/header_strip.jpg);
}

div.network-strip {
	height: 40px;
	width: 100%;
	background: url(/css/img/network-strip.png);
}

div.message {
	padding:4px;
	font-size:1em; 
	background-color:#aaa;
	color: #000;
	padding-left:8px;
}
div.message.error {
	background-color:#caa;
	color:#800;
} 
div.message.warning {
	background-color:#cca;
	color:#640;
} 
div.message.ok {
	background-color:#aca;
	color:#060;
} 

table.data input.warning {background-color: #eec;}
.red {color:#C66; font-weight:bold;} 

table.data { 
	background:#eee;
	padding-top: 6px;
	border: 6px solid #eee;
	vertical-align: top;
	margin-bottom: 0;
}
table.data tr { background:transparent; height:22px;}
table.data th { 
	color:inherit; 
	font-weight:bold; 
	background:transparent; 
	text-align:left; 
	padding-right:4px;
}
table.data td { }
table.data td.value { }
table.data td.value div.value { 
	padding:2px; 
	background: #def;
	color:#000; 
	line-height:1.05em; 
	min-height:1em; 
	margin:2px;
}
div.blue table.data td.value div.value { background:#002952; color:#fff}
div.blue table.data { background:transparent; border: 2px solid transparent;}

table.top tr th, table.top tr td {vertical-align: top; padding:2px;} 

.os_remote.os_local    .org {	color: #00c; }
.os_remote  .org {	color: #c00; }
.os_local   .org {	color: #0c0; }
.os_diff    .org {	color: #aa0; }
.os_moved   .org {	color: #b90; }
.os_virtual .org {	color: #a0a; }
.os_deleted .org {	color: #888; }

.state {padding: 1px 3px; margin: 1px 2px; }
.state.os_local   { background-color:  #cdc;}
.state.os_remote  { background-color:  #dcc;}
.state.os_diff    { background-color:  #ddc;}
.state.os_moved   { background-color:  #ccd;}
.state.os_virtual { background-color:  #dcd;}
.state.os_deleted { background-color:  #ccc;}

.cboth {clear:both;}

/* org tree */
a.tree:hover {border-bottom: none;}
.tree-anch-start, .tree-anch-fill, .tree-anch-mns-0, .tree-anch-mns-1, .tree-anch-pls-0, .tree-anch-pls-1,
.tree-pad, .tree-node-0, .tree-node-1, .tree-icon-open, .tree-name, .tree-edge-0, .tree-edge-1 {
	display: inline-block;
	vertical-align: top;
}
.tree-anch-start, .tree-anch-fill, .tree-anch-mns-0, .tree-anch-mns-1, .tree-anch-pls-0, .tree-anch-pls-1,
.tree-pad, .tree-node-0, .tree-node-1, .tree-icon-open {
	width:24px;
	background-repeat: no-repeat;
}
.tree-anch-fill { background-image: url(img/tree_anchor_full_1.png); }
.tree-anch-start { background-image: url(img/tree_start_full_1.png); }
.tree-anch-mns-0 { background-image: url(img/tree_anchor_mns_0.png); }
.tree-anch-mns-1 { background-image: url(img/tree_anchor_mns_1.png); }
.tree-anch-pls-0 { background-image: url(img/tree_anchor_pls_0.png); }
.tree-anch-pls-1 { background-image: url(img/tree_anchor_pls_1.png); }
.tree-node-0  { background-image: url(img/tree_node_0.png); }
.tree-node-1  { background-image: url(img/tree_node_1.png); }
.tree-icon-open  { background-image: url(img/open.png); background-position: 2px 2px;}
.tree-edge-1 { background-image: url(img/tree_edge_1.png); background-repeat: repeat-y; }
.tree-name { max-width: 80px;}
.tree-name a, .tree-name span { white-space:nowrap;}

.block-inner {
	/*overflow:hidden; Nem jó ötlet, mert a belső hint popupok furcsák lesznek */
}

.button, a.button {
	background-color: #0062A0;
	border-color: #214e7a;
	color: #fff;
	border-radius: 0;
	font-size: 0.9em;
	/*line-height: 1em; ez csak árt */
	vertical-align: -2px;
}
table.list .button, table.list a.button {
	vertical-align: 1px;
	border:none;
	padding: 2px;
	margin-left: 2px;
}

.button.disabled {
	color: #aaa;
	cursor:inherit;
}

.name.disabled {
	color: #aaa;
	cursor:inherit;
}

.ajax-success { background-color: #dfd;}

div.org {
	width: 540px;
	background-color: #eeeef4;
	white-space: nowrap;
	padding:4px;
	border: 1px solid #9cb0c4;
}
div.org h3 { 
	margin: 0;
	padding: 2px 2px;
}
div.org dl {
	font-size: 1em;
	background: transparent;
}
div.org dl dt {
	display: block;
	width: 120px;
	float:left;
	clear:left;
	font-size: inherit;
	margin: 0;
}
div.org dl dd {
	display: block;
	float:left;
	width: 280px;
	font-size: inherit;
	margin: 0;
}

div.popup {
	color: #000;
}

div#user-content h1 {
	margin-top: 1.4em;
	margin-bottom: 8px;
	margin-left:8px;
}

div#user-content h2 {
	margin-top: 1.2em;
	margin-bottom: 8px;
	margin-left:8px;
}

div#user-content h3 {
	margin-top: 1em;
	margin-bottom: 8px;
	margin-left:8px;
}

div#user-content h4 {
	margin-top: 0.5em;
	margin-bottom: 4px;
	margin-left:8px;
}

div#user-content p {
	margin-left:8px;
}

table.list td, table.list th {
    font-size: 11px;
}

.region-content-inner {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.content-block {
	margin: 4px 8px;
	padding-left: 4px;
	padding-right: 4px;
}
xdiv#popup-content h1 {
	font-size:1.25em;
}
h1.title {
	padding-left: 10px;
}
#zone-user a.login:hover {
	border-bottom: none;
}

div.midblue {
	background-color: #0f3f6f; /*#8aa7c5; */
	color: #fff;
	padding:4px;
}

div.blue {
	background-color: #036; /*#8aa7c5; */
	color: #fff;
	padding:4px;
}
div.blue h1, div.blue h2, div.blue h3, div.blue h4 { color: #8aa7c5; }
div.blue a { color: #def; }

h1.blue, h2.blue {
	background-color: #036; /*#8aa7c5;*/
	color: #8aa7c5;
	padding-bottom: 8px;
	margin-bottom: 0;
}

div#user-content h3.blue {
	background-color: #036; /*#8aa7c5;*/
	color: #fff;
	padding: 2px 8px;
	margin: 0;
}

div.blue h2 {
	padding-left: 15px;
	margin-bottom: 10px;
}

div.person_type_1 {
	width: 18px;
	height: 16px;
	background: url(img/person_x.png) no-repeat;
}
div.person_type_2 {
	width: 18px;
	height: 16px;
	background: url(img/group_x.png) no-repeat;
}

table.list tr.tr_0 div.person_type_1 { background-image: url(img/person_0.png); } 
table.list tr.tr_0 div.person_type_2 { background-image: url(img/group_0.png); } 
table.list tr.tr_1 div.person_type_1 { background-image: url(img/person_1.png); } 
table.list tr.tr_1 div.person_type_2 { background-image: url(img/group_1.png); } 

/* bottom-menu */
div.bottom-menu-box {
	border-bottom:none;
	font-size: 1em;
	line-height: 2em;
	overflow: hidden;
}
div.bottom-menu {
	/* background-color: #0F3F6F; */
	background-color: #002955;
	width: 100%;
	text-align: left;
	word-spacing: 0px;
}
div.blue div.bottom-menu {
	background-color: #002244;
}

div.bottom-menu a, div.bottom-menu span {
	margin: 0 .8em;
	padding-top: .6em;
	padding-bottom: 0;
	text-decoration: none;
	cursor: pointer;
	color:  #fff;
}
div.bottom-menu a.active, div.bottom-menu span.active, div.bottom-menu a.active:hover{
	background: #8AA7C5;
	color: #449;
	cursor: pointer;
}
div.bottom-menu a:hover, div.bottom-menu span:hover {
	border-bottom: 1px dotted #fff;
}
div.bottom-menu a.disabled, div.bottom-menu span.disabled {
	color:#999;
	cursor:inherit;
	border-bottom:none;
}
div.form-menu {
	padding:6px 0;
}

table.data tr.tr_1 td:nth-child(2) div.value { background-color: #262;}

table.list tr.enabled_1 td { background-color: #ded;}
table.list tr.enabled_0 td { background-color: #edd;}
/* table.list tr.tr_0 td:first-child { background-color: #edd;}*/
/* table.list tr.tr_1 td:first-child { background-color: #ded;} */
/* table.list tr.tr_2 td:first-child { background-color: #ded;} */
table.list tr.deleted td { background-color: #ddd; color: #666; text-decoration: line-through; }
/* ugyanaz egérrel */
table.list tr.enabled_1:hover td { background-color: #efe;}
table.list tr.enabled_0:hover td { background-color: #fee;}
/* table.list tr.tr_0:hover td:first-child { background-color: #fee;} 
table.list tr.tr_1:hover td:first-child { background-color: #efe;}
table.list tr.tr_2:hover td:first-child { background-color: #efe;}*/
table.list tr.deleted:hover td { background-color: #eee; color: #666; text-decoration: line-through; }

table.list tr.deleted td a {
	color: #668;
}
td.deleted {
	background-color: #e64;
}
table.list td.deleted { background-color: #f98; }
table.list tr:hover td.deleted { background-color: #fBA; }
table.list tr.selected td.deleted { background-color: #300; }
table.list tr.selected:hover td.deleted { background-color: #644; }

form.full {
	background-color: #ddd;
	padding: 4px 8px;
}
form.full table.data {
	background-color: #ddd;
	border: none;
}
span.match {
	color:#906;
}
pre.info {
	font-size: 0.9em;
}
ul.units {}
ul.units div.name {display:inline-block;width:150px;overflow:hidden;white-space:nowrap;}
ul.units div.acc_type_2 {
	vertical-align: top;
	display:inline-block;
	margin-right: 6px;
	width: 16px;
	height: 16px;
	background: url(img/group.png);
}
ul.units span.button {vertical-align:6px;}
td.enabled_ {background-color: #cca;}
td.enabled_0, td.enabled_f {background-color: #caa;}
td.enabled_1, td.enabled_t {background-color: #aca;}

div.blue td.enabled_ {background-color: #664; padding-left:4px;}
div.blue td.enabled_0, div.blue td.enabled_f {background-color: #644; padding-left:4px;}
div.blue td.enabled_1, div.blue td.enabled_t {background-color: #464; padding-left:4px;}

#zone-footer .small {font-size:0.8em;}
#user-content .small {font-size:0.8em;}
#popup-content .small {font-size:0.8em;}
#popup-content h4 {font-size: 1.1em;}
.square { display:inline-block;width:12px;height:12px;}

.maplink { 
	padding-left:22px;
	background: url("img/crosshair16t.png") no-repeat;
	background-position: 4px; 
}

input[type=file] {font-size:0.9em;}

div.desc ul {
	list-style-type: disc;
	padding-left: 20px;
	margin-left: 10px;
}

span.close {
	display: inline-block;
	float:right;
	font-weight: bold;
	font-family: sans-serif;
	width: 16px;
	height: 16px;
	text-align: center;
	background-color: #369;
	color:#fff;
	cursor: pointer;
}

div.datablock {
	min-width: 75%;
}
div.datablock dl {
	clear:both;
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	background-color: #eee;
	margin: auto;
	padding: 4px;
	font-style: normal;
}
div.datablock dl dt {
	display: inline-block;
	clear:left;
	float:left;
	margin: 2px 10px 0 0;
	padding-left: 4px;
	min-width: 150px;
	font-weight: bold;
	font-size:inherit;
	font-style: normal;
	height: 20px;
}
div.datablock dl dd {
	min-width: 600px;
	margin: 2px 0px 0 120px;
	margin-left: 150px;
	font-style: normal;
	height: 20px;
}

div.blue div.datablock {
	width:100%;
	margin:inherit;
}
div.blue div.datablock dl {
	margin: inherit;
	background-color: inherit;
}

ul.disc {
	list-style: disc;
	margin-left: 24px;
}

table.list u {
	background-color: #fe6;
	color: #000;
	text-decoration: none;
	padding: 2px 0;
}
table.list u.i {
	background-color: #fba;
}

div.ui-dialog-content {
	background-color: #fff !important;
	color: #000;
}
.indent {margin-left:20px;}
.code {font-family:consolas,courier,sans-serif;}
.code pre {font-family: inherit;}

.apro, div.apro, td.apro, span.apro {
	font-size : 0.8em;
	text-align: left;
	}

#zone-branding div#function-title a {color:#ffdd88}

.normal-list ol, .normal-list ul {
	margin-left: 24px;
}

.fn_ok { color: #080; }
.fn_sn { color: #708; }
.fn_sngn { color: #009; }
.fn_gn { color: #870; }
.fn_none { color: #900; }

.em_ok { color: #080; }
.em_sz { color: #708; }
.em_none { color: #900; }

.external{
	background-position:center right;
	background-repeat:no-repeat;
	background-image:url(/w/skins/Vector/images/external-link-ltr-icon.png?325de);
	background-image:linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
	background-image:linear-gradient(transparent,transparent),url(/w/skins/Vector/images/external-link-ltr-icon.svg?13447)!ie;
	background-image:-o-linear-gradient(transparent,transparent),url(/w/skins/Vector/images/external-link-ltr-icon.png?325de);
	padding-right:13px
}

/* Automatikusan kitöltött mező */
table.data input.suggested {
	background-color: #88c;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #def;
}
.table-striped > tbody > tr:nth-of-type(0) {
    background-color: #dde;
}
