﻿@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700|Merriweather:400,400i,700');

body {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 76%;
	line-height: 140%;
	color: #444;
	background: #eee;
}

p, pre, blockquote, form, fieldset, legend, label, input, ul, ol, dl, dd, address {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

h1, h2, h3, h4 {
	font-family: 'Merriweather', serif;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1.2em 0;
}

a {
	text-decoration: none;
	outline: none;
	padding: 2px;
}

a:link, a:visited {
	color: #DA7024;
}

a:hover {
	color: #4d4439;
	text-decoration: underline;
}

.login_button {
	background: none repeat scroll 0;
	font-size: 1em;
	border: 0 none;
	color: #DA7024;
	margin: 0;
	padding: 0;
	text-align: right;
}

form#login_frm input.textfield {
 width: 150px;
}

.login_button:hover {
	color: #4d4439;
	text-decoration: underline;
	cursor: pointer;
}

strong {
	font-style: normal;
	font-weight: bold;
}

ol, ul, li {
	list-style: none;
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
}

p {
	font-size: 1em;
	margin: 1.2em 0;
}

em {
	font-style: italic;
	font-weight: normal;
}

strong em, em strong {
	font-weight: bold;
	font-style: italic;
}

address {
	font-style: normal;
}

blockquote {
	margin: 1em 0 1em 1.5em;
}

table {
	margin: .8em 0;
}

/*
MISC. FORMATTING CLASSES
------------------------
*/

/*float classes*/
.fleft {float: left;} .fright {float: right;}
/*clear classes*/
.cleft {clear:left} .cright {clear: left;} .cboth {clear: both;}

/*text classes*/
.txtcntr {text-align: center;}

.dn { display: none; }

/*
MAIN BLOCKS
-----------
*/

div#top_nav_box {
	background: #fff;
}

div#top_nav {
	width: 995px;
	text-align: right;
	font-size: .9em;
	padding: .2em 0;
	color: #999;
	background: #fff;
}

div#top_nav a:link, div#top_nav a:visited {
	color: #222;
}

div#top_nav a:hover, div#top_nav a:active {
	color: #da7024;
	text-decoration: none;
}

div#header_box {
	height: 102px;
	background: #fff /*url(../img/header_box_bg.gif) right no-repeat*/;
	border-bottom: solid 1px #fff;
}

div#header {
	height: 102px;
	width: 995px;
	background:#EAEAEA url(../img/header_logo.gif) no-repeat top left;
	/*background-image:url(img/header_logo_1.gif)*/
}

div#header h1 {
	float: left;
	font-size: 12px;
	margin: 0;
}

div#header h1 a{
	padding: 0;
	height: 102px;
	width: 400px;
	display: block;
}

div#header h1 span {
	display: none;
}

div#header_images_box {
	height: 108px;
	background: #fff;
	border-bottom: solid 1px #fff;
}

div#header_images {
	width: 995px;
	height:108px;
	background: #666 url(../img/header_strip.jpg);
}

div#header_images a {
	display: block;
	width: 995px;
	height:108px;
	padding: 0;
}

div#header_images a span{
	display: none;
}

div#nav_top_user_box {
	background: #fff;
	border-bottom: solid 1px #fff;
	font-size: 1.15em;
	line-height: 2.35em;
	overflow: hidden;
	text-align: left;
}

div#nav_top_user {
	background-color: #7f99c6;
	width: 995px;
	text-align: center;
	color: #fff;
	word-spacing: 0;
	min-height: 1em;
}



div#nav_top_user a, div#nav_top_user span {
	background: #7f99c6;
	color: #fff;
	font-weight: bold;
	padding: .6em .8em;
	text-decoration: none;
}


div#nav_top_user a:hover{
	background: #fff;
	color: #335ca5;
}

div#nav_top_main_box {
	background: #fff;
	/*background: #fff url(../img/user_nav_box_bg.gif) right no-repeat;*/
	border-bottom: solid 1px #fff;
	font-size: 1.15em;
	line-height: 2.35em;
	overflow: hidden;
}

div#nav_top_main {
	background-color: #f89c2f;
	width: 995px;
	text-align: center;
	color: #fff;
	word-spacing: 0;
}

div#nav_top_main a, div#nav_top_main span {
	font-size: 1.1em;
	background: #f89c2f;
	color: #fff;
	/*height: 14px;*/
	font-weight: bold;
	padding: .6em .8em;
	text-decoration: none;
}

div#nav_top_main span {
	color: #ccc;
}

div#nav_top_main a.active{
	background: #fbcd97;
	color: #fff;
}


div#nav_top_main a:hover{
	background: #fff;
		color: #f89c2f;

}

div#nav_tab_box {
	background: #fff;
	/*background: #fff url(../img/user_nav_box_bg.gif) right no-repeat;*/
	border-bottom: solid 1px #fff;
	font-size: 1.15em;
	line-height: 2.35em;
	overflow: hidden;
}

div#nav_tab {
	background-color: #aaa;
	width: 995px;
	text-align: center;
	color: #fff;
	word-spacing: 0;
}

div#nav_tab a, div#nav_tab span{
	background: #aaa;
	color: #fff;
	/*height: 14px;*/
	font-weight: bold;
	padding: .6em .8em;
	text-decoration: none;
}

div#nav_tab a.active, div#nav_tab span.active{
	background: #bbb;
	color: #fff;
}


div#nav_tab a:hover{
	background: #fff;
		color: #666;
}


div#featured_box {
	background: #feebd5 /*url(../img/feat_box_bg.gif) right repeat-y*/;
	/*height: 200px;*/
	border-bottom: solid 1px #fff;
}

div#featured {
	background-color: #ccc;
	/*height: 200px;*/
	width: 995px;
	overflow: hidden;
}

div#content_box {
	background: #ccd6e8 /*url(../img/content_box_bg.gif) repeat-y*/;
}
div#content {
	width: 995px;
	background: #fff/* url(../img/content_bg_dots.gif) -4px 0 repeat-y*/;
}

div#footer_box {
	background-color: #eee;
	border-top: solid 1px #ccc;
}

div#footer {
	width: 995px;
	background-color: #eee;
	text-align: right;
	padding-bottom: 10px;
	font-size: .8em;
	color: #666666;
}

div#footer address {
	margin: 1.8em 0 0 0;
	float: right;
}

div#footer address .addr_title {
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: solid 1px #ccc;
	padding: 0 0 .2em 3em;

}

div#footer a.footer_logo {
	display: block;
	float: right;
	margin: 1em 1em 0 1em;
	padding: 0;
}

/*
FEATURED INNER BOXES
--------------------
*/

div#feat_nav {
	background: #f89c2f/* url(../img/main_nav_bg.jpg) no-repeat right top*/;
	width: 245px;
	border-right: solid 1px #fff;
	float: left;
	text-align: right;
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}

div#feat_nav ul {
	padding: .75em 0 .75em 0;
}

div#feat_nav ul li{
	margin: 0;
	padding: 0;
}

div#feat_nav ul li a{
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.16em;
	color: #fff;
	text-decoration: none;
	padding-right: .75em;
	display: block;
}

div#feat_nav ul li a:hover{
	color: #f89c2f;
	background: #fff;
}

a#feat_img {
 display: block;
 width: 500px;
 float: left;
 background: no-repeat 0 0 #999;
	padding: 0 0 32767px;
	margin-bottom: -32767px;
 text-decoration: none;
}

a#feat_img span{
 display: block;
 color: #fff;
 font-weight: bold;
 width: 494px;
 position: relative;
 top: 0;
 margin: 0;
 padding: 3px;
 background: #999;
 opacity: .85;
 filter: alpha(opacity=85);
 cursor: pointer;
}

a:hover#feat_img span{
 opacity: .95;
 filter: alpha(opacity=95);
}


div#feat_fresh {
	background: #fbcd97;
	width: 247px;
	border-left: solid 1px #fff;
	float: right;
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}

div#feat_fresh ul {
	margin: .5em;
	clear: both;
}

div#feat_fresh ul li{
	margin-bottom: .3em;;
}

div#feat_fresh ul li a{
	color: #000;
}

div#feat_fresh ul li a span{
	color: #DA7024;
	font-size: .705em;
	vertical-align: middle;
	text-decoration: none;
	white-space: nowrap;

	display: none;
}

div#feat_fresh h2 {
	padding: .5em 0 0 .5em;
	font-variant: small-caps;
	float: left;
}

div#feat_fresh h2 a{
	color: #444;
	padding: 0;
}

/*
CONTENT INNER BOXES
-------------------
*/
div#content_left {
	width: 225px;
	/*border-right: dotted 1px #ccc;*/
	padding: 10px;
	float: left;
}

div#content_main_home {
	width: 500px;
	float: left;
}

div#content_main_home h2 {
	padding: .5em 0 0 .5em;
	font-variant: small-caps;
}

div#content_main_home h2 a{
	color: #444;
	padding: 0;
}

div#content_main_home ul {
	margin: .5em;
}

div#content_right_home {
	width: 249px;
/*	border-left: dotted 1px #ccc;*/
	float: left;
}

div#content_right_home ul {
	margin: .5em;
	clear: both;
}
div#content_right_home h2 {
	padding: .5em 0 0 .5em;
	font-variant: small-caps;
	float: left;
}

div#content_right_home h2 a{
	color: #444;
	padding: 0;
}

div#content_left form{
	background-color: #fff;
	padding: 0 1em 0 1em;
}

div#content_left form fieldset{
	border: none;
}

div#content_left form legend{
	color: #fff;
	font-size: 1.0em;
	font-weight: bold;
	/*font-variant: small-caps;*/
	margin-top: .5em;
	padding-top: .5em;
	margin-bottom: -5px;
}

div#content_left form select {
	width: 100%;
}

div#content_left form input.searchbox {
	width: 66%;
	float: left;
	padding: .1em;
}

div#content_left form input.submit {
	display: block;
	width: 28%;
	float: right;
	padding: 0;
	margin: 0;
}

a.detailed_search {
	display: block;
	clear: both;
	padding: .5em 0 .5em 2px;
	width: 66%;
	font-size: 1.1em;
	font-weight: bold;
}

/*
LOGIN FORM
-----------
*/

form#login_frm {
	float: right;
	width: 220px;
	margin-top: 1.2em;
}

form#login_frm fieldset{
	border: none;
}

form#login_frm legend{
	display: none;
}

form#login_frm label{
	display: block;
	float: right;
	clear: right;
	white-space: nowrap;
	margin: .3em .8em 0 0;
	font-weight: bold;
}

form#login_frm p{
	margin: .3em .8em 0 0;
	white-space: nowrap;
}

/*
BANNER DIVS
*/

div#divbanner1 {
	width: 245px;
	margin: 1em 0;
	text-align: center;
	clear: both;
}

div#divbanner2 {
	width: 228px;
	margin: 1em 0;
	text-align: center;
	clear: both;
}

/*
OTHER PAGES
*/

div#submenu h2{
	font-weight: bold;

}

.user {
	background: #7f99c6;
	color: #fff;
	font-size: 1.6em;
	padding: 1em 10px 1em 1em;
	margin-bottom: 10px;
}

.main {
	font-size: 1.6em;
	padding: 1em 10px .5em 1em;
	color: #004299;
	/*background: #fbcd97;
	border-right: solid .75em  #f89c2f;*/
}

.main_right {
	font-size: 1.6em;
	padding: 0 0 .5em 0;
	color: #004299;
	/*background: #fbcd97;
	border-right: solid .75em  #f89c2f;*/
}

div#submenu {
	text-align: right;
}


div#submenu ul {
	padding: 0 0 10px 0;
}

div#submenu ul li{
	margin: 0;
	padding: 0;
}

div#submenu ul li a{
	padding-right: .75em;
	font-size: 1.16em;
	color: #666;
	text-decoration: none;
	display: block;
}

div#submenu ul li a:hover{
	color: #f89c2f;
	background: #fff;
}

div#submenu ul li a.active{
	color: #004299;
	text-decoration: none;
	display: block;
}

div#content_main {
	width: 479px;
	margin: 1em 0;
	padding: 0 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
}

div#content_main.wide {
	width: 728px;
	border-right: none;
}

div#content_main h1 {
	font-size: 1.8em;
	color: #000;
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: .3em;
	margin: .3em 0;
}

div#breadcrumbs {
	/*border-bottom: 1px solid #E8E8E8;*/
	padding-bottom: .3em;
	margin-bottom: 1.5em;
	font-size: 0.9em;
}

div#content_main ul{
	margin-left: 1.5em;
	margin-bottom: 1em;
}

div#content_main ul li ul li{
	margin-left: 2em;
}

div#content_main ol li{
	margin-left: 1.5em;
	margin-bottom: 1em;
	list-style: decimal;
}

div#doc_head {

}

p#author {
	margin: .5em 0;
	font-size: .9em;
	color: #999999;
	/*float: left;*/
}

p#author a {
	font-style: italic;
}
div#content_icons {

}
.print_button {
	display: block;
	width: 14px;
	height: 13px;
	float: right;
}

p.lead {
	font-weight: bold;
	font-size: 1.1em;
}

p.tags {
	font-size: .9em;
	font-weight: bold;
	margin: .5em 0;
}

p.tags a{
	font-weight: normal;
}

p.last_edited {
	font-size: .9em;
	font-weight: bold;
	margin: 2em 0 .5em 0;
	color: #999999;
}

p.last_edited span{
	font-style: italic;
	font-weight: normal;
}

div#divided {
	margin-top: 1em;
	border-top: 1px solid #ccc;
}

div#divided h3 {
 font-size: 1.238em;
 padding-top: 10px;
 float: left;
}

div#divided ul {
 clear:both;
}

div#divided_left {
 float: left;
 width: 229px;
 padding: 0 10px 0 0;
 border-right: solid 1px #ccc;
}

div#divided_left h4 {
 font-size: 1.0em;
 margin: .5em 0;
 clear: both;
}

div#divided_right {
 float: left;
 width: 229px;
 padding: 0 0 0 10px;
}

div#divided_left h4 {
	font-size: 1.0em;
	margin: .5em 0;
}

div#divided_left a {
	padding: 0;
}

div#divided_left p {
	font-size: 1em;
	margin: .5em 0;
}

div#content_right img, div#content_main img {
	padding: 0;
	border: 0 #ccc solid;
}
div#content_right img {
	margin: 0 0 1em 0;
}
div#content_main img {
	margin:	0 .5em;
}
div#content_right img.small_right_img {
	float: left;
	margin: 1em .5em .5em 0;
/*	padding: 2px;
	border: 1px #ccc solid;*/
}

div#content_right {
	width: 208px;
	margin-top: 0;
	padding: 10px;
	float: left;
	font-size: 1em;
}

div#content_right .smarties h2{
	padding-top: 1em;
	border-top: 1px #ccc solid;
}

div#content_right ul{
/*margin-left: 1.5em;
margin-bottom: 1em;*/
}

div#content_right ul li{
padding-left: .8em;
}

div#content_right ul li ul li{
margin-left: 2em;
}

code {
	font-size: 1.2em;
	background-color: #E5E5EE;
}

div#content_main ul {
	list-style: disc;
}
