﻿.fix {
	white-space: nowrap; text-overflow : ellipsis; overflow : hidden;
	}

.mandatory {
	background-color: #f8f0e0;
}	
div.wait-curtain {
	position: fixed;
	top:0;left:0;
	width:100%;
	height:100%;
	z-index: 11;
	opacity: 0.8;
	background-color: #666;
}
div.wait-curtain h1 {
	margin: auto;
	z-index: 12;
	opacity: 1;
	color: #fff;
	background: #111;
	text-align: center;
	
}
