html{
    height: 100%;
}
body{
    position: relative;
    background: #eee !important;
    min-height: 100%;
    border-bottom: 1px solid #003366;
    padding-bottom: 85px;
}
#content{
    min-height: 100%;
    overflow: auto;
    margin: 30px 0;
}
.branding-data {
    background-color: #003366;
}
.login-wrapper{
    width: 400px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    background: #F5FAFB;
    box-shadow: 8px 2px 23px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.login-wrapper header h4{
    padding-bottom: 18px;
}
.login-wrapper form{
    margin: 0 15px;
}
.form-horizontal .form-group .control-label{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}
.logo-img {
    float: left;
    margin: 10px;
}

.branding-data hr {
    margin: 5px 0 5px 0;
    height: 0;
}

.site-name-slogan {
    display: inline-block;
    margin: 23px 10px;
    float: left;
}
.site-name-slogan > p{
    margin-bottom: 6px;
}
.site-name-slogan p{
    color: #fff;
    font-family: verdana;
    text-decoration: none;
    text-transform: uppercase;
}
.img_container {
    position: relative;
}
.centered_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.language-picker {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
.language-picker div > a{
    color: #fff;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.language-picker li{
    float: left;
    margin: 0;
}
.footer{
    position: absolute;
    bottom: 0;
    margin-top: 25px;
    width: 100%;
    height: 85px;
    background-color: #003366;
}
.footer-logo{
    margin: 8px;
    float: left;
}
.footer-text{
    display: inline-block;
    float: right;
    padding-right: 30px;
}
.footer-text p{
    color: #fff;
    margin-top: 15px;
    text-align: left;
    float: left;
}
.footer-text a{
    color: #fff;
}

.h1, h1 {
    font-size: 36px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 50px;
}
.h2, h2{
    color: #3072ab !important;
    border-bottom: none;
}

.h4, h4 {
    font-size: 18px;
    color: #3072ab;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 1px;
    margin-bottom: 10px;
}
a:focus, a:hover{
    text-decoration: none !important;
}
a.btn.btn-primary.pte-login {
    margin-bottom: 20px;
}
ul {
    list-style-position: inside;
}
.page-title{
    padding-bottom: 20px;
}
.form-group strong{
    display: block;
    margin-top: 5px;
}
input#login{
    float: none;
    margin: 0 auto;
}
.login-form{
    padding: 28px 0;
}
.login-help{
    text-align: left;
    padding-top: 30px;
}
.login-help h2{
    margin-top: 0;
}
input.btn-primary {
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}
input.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    background-color: #265a88;
    background-position: 0 -35px;
}
#portalmenu{
    max-width: 760px;
    margin: 0 auto;
    text-align: left;
}
#portalmenu h2{
    font-size: 22px;
}
#sources-content{
    display: inline-block;
    max-width: 760px;
    margin: 0 auto;
    text-align: left;
}

table#table_with_attributes .attrvalue {
	text-align: left;
}

pre {
	text-align: left;
}

@media (max-width: 991px) {
    .form-horizontal .control-label, form-group{
        text-align: left !important;
    }
    .login-wrapper{
        width: 100%;
    }
}
@media (max-width: 767px) {
    .slogan {
        display: none !important;
    }

    h2.form-signin-heading {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .login-help p, .page-title p{
        text-align: justify;
    }
    .login-help{
        padding-top: 0;
    }
    .footer-text{
        float: none;
        padding-right: 0;
    }
}
@media (max-width: 500px) {
    .language-picker{
        left: 33%;
    }
    .language-picker ul{
        left: -22px !important;
    }
    input#login{
        float: none;
    }
}
@media (max-width: 478px) {
    .site-name-slogan {
        font-size: 9px;
        margin: 10px 10px 0px 0;
    }
    .h2, h2{
        font-size: 23px !important;
    }
    #content{
        margin: 0;
    }
    .logo-img{
        display: none;
    }
    .login-help{
        margin-top: 0;
    }
    .footer-logo{
        display: none !important;
    }
    footer.footer{
        height: 70px;
    }
    .footer-text p{
        font-size: 11px;
    }
    .footer-text p{
        text-align: center;
    }
    .site-name-slogan > p{
        margin-bottom: 4px;
    }
}

